body {
	padding-top: 70px;
	
}

.image {
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center;
}

.image1 {
	background-image: url(https://images.unsplash.com/photo-1447875569765-2b3db822bec9?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
}

.image2 {
	background-image: url(https://images.unsplash.com/photo-1524168272322-bf73616d9cb5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60); 
}

.image3 {
	background-image: url(https://images.unsplash.com/photo-1558685160-140e422ea847?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
}

.image4 {
	background-image: url(images/ben-dutton-insv5BSTqv0-unsplash.jpg); 
}

.image5 {
	background-image: url(https://images.unsplash.com/photo-1512470876302-972faa2aa9a4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
}


.image6 {
	background-image: url(https://images.unsplash.com/photo-1428353077903-d09b3e000f37?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
}

.image7 {
	background-image: url(https://images.unsplash.com/photo-1519424187720-db6d0fc5a5d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);

}

.image8 {
	background-image: url(https://images.unsplash.com/photo-1550729376-507dfcfca129?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
}
.image9 {
	background-image: url(https://images.unsplash.com/photo-1542268375-9d1085336757?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
}






.jumbotron {
	color: #2c3e50;
	background: #ecf0f1;
}
.navbar-inverse {
	background: #2c3e50;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}

.navbar-inverse .navbar-brand {
	color: white;
}